@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
html{
    font-size: 10px;
    font-family: 'Montserrat',sans-serif;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active img{
    max-width: 100px;
    height: 100px;
}

.brandlogo img{
    width: 100px;
    height: 100px;
    margin: auto;
}
/* h section */
.h{
    min-height: 80vh;
    width: 100%;
    padding-top: 50px;
    background-color: rgb(90, 59, 177);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.h .h-info{
    width: 100%;
    text-align: center;
}
.h .h-info .h-info-heading{
    font-size: 5rem;
    font-weight: 500;
    color: white;
}
.h .h-info .h-info-sub{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: whitesmoke;
}
.h .h-info .h-info-button{
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 2rem 5rem;
    display: inline-block;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    letter-spacing: .6rem;
    background-color: rgba(58, 55, 55, 0.534);
}
.h .h-info .h-info-button:hover{
    background-color: rgb(0 , 0, 0);
}
/* Overview */
.ab{
    width: 100%;
    min-height: 50vh;
    padding: 10rem 5rem;
    flex-direction: column;

}
.ab .ab-info{
    text-align: center;
}
.ab .ab-info .ab-info-heading{
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: black;
}
.ab .ab-info .ab-info-desc{
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 10px;
}
.ab .ab-info .ab-info-button{
    padding: 1.6rem 2.6rem;
    display: inline-block;
    background-color: rgba(0 , 0, 0, 0.548);
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ab .ab-img .ab-img-wrapper{
    margin-top: 60px;
    height: auto;
    max-width: 400px;
    position: relative;
    display: inline-block;
}
.ab .ab-img .ab-img-wrapper img{
    height: 100%;
    width: 100%;
}
.ab .ab-img .ab-img-wrapper::after{
    position: absolute;
    content: '';
    right: -5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
    height: 120%;
    background-color:rgba(34,33,33,0.158);
    z-index: -1;
}
/*  Service */
.sc{
    flex-direction: column;
    min-height: 60vh;
    padding: 10em 5rem;

}
.sc .s-header{
    width: 100%;
    text-align: center;
}
.sc .s-header .s-header-heading{
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}
.sc .s-header .s-header-desc{
    font-size: 1.3rem;
    line-height: 2rem;
    margin-top: 20px;
}
.sc .s-info{
    margin-top:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
.sc .s-info .s{
    width: 40%;
    min-height: 300px;
    position: relative;
    transition: 0.3s ease transform ;
    margin: 2vh;
}
.sc .s-info .s .s-card{
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: 0.3s ease transform;
    display: block;
}
.sc .s-info .s .s-card .s-front,
.sc .s-info .s .s-card .s-back{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.13);
    padding: 10px;
}
.sc .s-info .s .s-card .s-back{
    transform: rotateY(180deg);
}
.sc .s-info .s .s-card .s-front .s-front-heading,
.sc .s-info .s .s-card .s-front .s-back-heading{
    font-size: 2.5rem;
    text-transform: capitalize;
}
.sc .s-info .s:hover .s-card{
    transform: rotateY(180deg);
}
.sc .s-info .s:hover .s-card .s-back .s-back-desc{
    font-size: 1.3rem;
    margin-top: 10px;
    text-align: center;
}
.sc .s-info .s:nth-child(1) .s-card .s-front{
    background-image: url(./img/fball.jfif);
    background-size: cover;
    color: white;
}
.sc .s-info .s:nth-child(2) .s-card .s-front{
    background-image: url(./img/bat.jfif);
    background-size: cover;
    color: white;
}
.sc .s-info .s:nth-child(3) .s-card .s-front{
    background-image: url(./img/vball.jfif);
    background-size: cover;
    color: white;
}
.sc .s-info .s:nth-child(4) .s-card .s-front{
    background-image: url(./img/basketball.jpg);
    background-size: cover;
    color: white;
}
.footer {
	min-height: 20vh;
	width: 100%;
	background-color: black;
	color: white;
	flex-direction: column;
	text-align: center;
	padding: 5rem;
}
.footer .footer-contact {
	padding: 20px;
}
.footer .footer-contact .footer-contact-heading {
	font-size: 2.5rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 10px;
}
.footer .footer-contact .footer-contact-info {
	font-size: 1.4rem;
	padding-top: 10px;
	letter-spacing: .2rem;
}
.footer .footer-social-follow .footer-social-icon a {
	color: white;
	font-size: 3rem;
	margin: .4rem;
	display: inline-block;
}

#car img{
    width: 200px !important;
    height: 200px !important;
    max-width: 200px;
}